.events-page {
    max-width: 100%;
    min-height: 100vh;
    background-image: url('../../../assets/bg4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}